body {
    background-color: cornflowerblue;
    display: flex;
    flex-direction: row;
    gap: 40px;
    justify-content: center;
    align-items: center;
}

button {
    width: 200px;
    margin: 10px;
    border: groove red 5px;
    border-radius: 20px;
    background-color: darkkhaki;
    font-size: 24px;
}

button:hover {
    background-color: mediumseagreen;
    font-size: 24px;
    
}

.options {
    display: flex;
    flex-direction: column;
}

.grid_container {
<<<<<<< HEAD
    width: 640px;
    height: 640px;
=======
    width: 480px;
    height: 480px;
>>>>>>> 673218b40df25eb600883144622c1071e1319dc1
    border: groove 10px gray;
    background-color: rgb(125,125,125);
    display: grid;
    gap: 1px;
}

.grid_item {
    background-color: white;
    transition: background-color 0.5s ease-out;
}

.options_text {
    font-size: 36;
}